<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 "/>
<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title>metal form</title>
</head>
<body>


<form method="post" action="#" th:action=@{/savemetal} th:object=${metal}>
<h1>Metal details</h1>


<label>Ammount:</label>
<br>
<input class="col-sm-2 form-control-sm"
 placeholder="Enter ammount"
 type="number"
 th:field=${metal.ammount}
 name="ammount"
 id="ammount"/>

<div style="clear: both; display: block; height: 15px;" ></div>

		<label for="deplist">Metaltypes</label>
		<br>
		<select id="deplist" th:field="*{metaltype}" class="form-control-sm col-sm-2">
       	<option th:each="metaltype: ${metaltypes}" th:value="${metaltype.metaltypeid}" th:text="${metaltype.type}"></option>
    	</select>
		<br>
		
		<div style="clear: both; display: block; height: 15px;" ></div>
		
		<label for="tolist">Transaction operation</label>
		<br>
		<select id="tolist" th:field="*{metaltransaction}" class="form-control-sm col-sm-2">
       	<option th:each="metaltransaction: ${metaltransactions}" th:value="${metaltransaction.transactionid}" th:text="${metaltransaction.operation}"></option>
    	</select>
		<div style="clear: both; display: block; height: 15px;" ></div>
		
		<input class="btn btn-success" type="submit" value="Lähetä"/>
		<input class="btn btn-success" type="reset" value="Reset" />
		</form>
		</body>
		</html>

